.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.localInfos {
    width: 80%;
    display: flex;
}
.leftSide {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.rightSide {
    flex: 1;
}
.leftSide img {
    width: 70%;
    margin-top: 10px;
}