.areaEventos {
    width: 100%;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.eachEvent {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px black;
    margin: 10px;
    border-radius: 5px;
}
.areaEventos img {
    width: 280px;
    margin: 5px;
    box-shadow: 4px 4px rgba(0,0,0,.5);
}
.nomeEvent {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.dataEvent {
    text-align: center;
    margin-bottom: 10px;
}
.button {
    padding: 5px;
    background-color: red;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}